.header {
  /* width: 100%; */
  /* max-width: 100vw; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 120px;
  background: var(--badges);
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.navigationItem {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--main);
}
