.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px;
  background: var(--badges);

  @media only screen and (min-width: 768px) {
    padding: 24px 120px;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media only screen and (min-width: 768px) {
    gap: 32px;
  }
}

.navigationItem {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--main);

  transition: color 250ms ease-in-out;

  &:hover {
    color: var(--button-hover);
  }

  &:focus {
    color: var(--button-hover);
  }
}

.active {
  color: var(--button-hover);
}
