.header {
  background: var(--badges);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px;
  max-width: 375px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    padding: 24px 120px;
    max-width: 768px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media only screen and (min-width: 768px) {
    gap: 32px;
  }
}

.navigationItem {
  text-align: center;
  transition: color 250ms ease-in-out;

  &:hover {
    color: var(--button-hover);
  }

  &:focus {
    color: var(--button-hover);
  }
}

.active {
  color: var(--button-hover);
}
