.allFilters {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 56px;
}

.searchBtn {
  border-radius: 12px;
  padding: 12px 51px;
  min-width: 156px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
}
