.allFilters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 32px;

  @media only screen and (min-width: 1440px) {
    flex-wrap: nowrap;
    margin-bottom: 56px;
  }
}

.searchBtn {
  border-radius: 12px;
  height: 44px;
  min-width: 156px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
  transition: background 250ms ease-in-out;

  &:hover {
    background: var(--button-hover);
  }

  &:focus {
    background: var(--button-hover);
  }
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--gray);
}

.carMileageInputs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.carMileageFirstInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.carMileageInputL {
  border-right: 1px solid var(--gray-light);
  border-radius: 12px 0 0 12px;
  width: 160px;
  height: 44px;
  padding: 12px 24px;
  background: var(--inputs);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.carMileageInputR {
  border-radius: 0 12px 12px 0;
  width: 160px;
  height: 44px;
  padding: 12px 24px;
  background: var(--inputs);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.carMileageInputL::placeholder,
.carMileageInputR::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.arrowDown {
  transition: transform 250ms ease-in-out;
}

.rotateArrow {
  transform: rotate(180deg);
}
