.allFilters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 56px;
}

.searchBtn {
  border-radius: 12px;
  height: 44px;
  min-width: 156px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--gray);
}
