.carImg {
  border-radius: 14px;
  margin-bottom: 16px;
  object-fit: cover;
}

.topTextPosition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.topText {
  max-width: 216px; /* same width so it doesn't move other elements */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* "..." */
  display: block;
}

.model {
  color: var(--button);
}

.bottomTextOne,
.bottomTextTwo {
  font-weight: 400;
  font-size: 12px;
  color: var(--gray);
}

.bottomTextOne {
  margin-bottom: 4px;
}

.bottomTextTwo {
  margin-bottom: 28px;
}

.detailsSpanOne,
.detailsSpanTwo {
  position: relative;
}

.detailsSpanOne {
  margin-right: 12px;
}

.detailsSpanTwo:not(:last-child) {
  margin-right: 12px;
}

.detailsSpanOne::after,
.detailsSpanTwo:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -6px;
  bottom: 0;
  width: 1px;
  height: 16px;
  background-color: var(--gray-light);
}

.readMoreBtn {
  height: 44px;
  min-width: 276px;
  border-radius: 12px;
  background: var(--button);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);

  transition: background 250ms ease-in-out;

  &:hover {
    background: var(--button-hover);
  }

  &:focus {
    background: var(--button-hover);
  }
}

.carsLi {
  position: relative;
  flex-basis: calc((100% - (3 * 32px)) / 4);
}

.likeButton {
  position: absolute;
  top: 16px;
  right: 16px;
}

.heartIcon {
  transition: all 250ms ease-in-out;
}
