.form {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 24px;
  width: 329px;
  /* height: 488px; */

  @media only screen and (min-width: 768px) {
    padding: 32px;
    width: 640px;
    height: 488px;
  }
}

.heading {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}

.paragraph {
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}

.simpleInput {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);

  border-radius: 12px;
  padding: 12px 20px;
  width: 282px;
  background: var(--inputs);
  margin-bottom: 16px;

  @media only screen and (min-width: 768px) {
    width: 576px;
  }
}

.simpleInput::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}

.textarea {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  resize: none;

  border-radius: 12px;
  padding: 12px 20px 12px;
  width: 282px;
  background: var(--inputs);
  height: 88px;
  margin-bottom: 24px;

  @media only screen and (min-width: 768px) {
    width: 576px;
  }
}

.textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}

.sendBtn {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);

  align-self: center;
}
