/* [project]/Developer/Projects 2.0/RentalCar/app/components/CarList/CarList.module.css [app-client] (css) */
.CarList-module__7yQoGG__carsList {
  flex-flow: wrap;
  justify-content: space-between;
  row-gap: 48px;
  width: 100%;
  margin-bottom: 80px;
  display: flex;
}

.CarList-module__7yQoGG__loadMoreBtn {
  border: 1px solid var(--button);
  min-width: 156px;
  font-family: var(--font-family);
  color: var(--main);
  border-radius: 12px;
  padding: 12px 51px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  transition: border .25s ease-in-out;
}

.CarList-module__7yQoGG__loadMoreBtn:hover, .CarList-module__7yQoGG__loadMoreBtn:focus {
  border: 1px solid var(--button-hover);
}

.CarList-module__7yQoGG__loadMoreBtn:disabled {
  opacity: .7;
  cursor: not-allowed;
}

/* [project]/Developer/Projects 2.0/RentalCar/app/components/CarListItem/CarListItem.module.css [app-client] (css) */
.CarListItem-module__fZFi2q__carImg {
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 16px;
}

.CarListItem-module__fZFi2q__topTextPosition {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  display: flex;
}

.CarListItem-module__fZFi2q__topText {
  font-family: var(--font-family);
  color: var(--main);
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 216px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  display: block;
  overflow: hidden;
}

.CarListItem-module__fZFi2q__model {
  color: var(--button);
}

.CarListItem-module__fZFi2q__bottomTextOne, .CarListItem-module__fZFi2q__bottomTextTwo {
  font-family: var(--font-family);
  color: var(--gray);
  font-size: 12px;
  font-weight: 400;
}

.CarListItem-module__fZFi2q__bottomTextOne {
  margin-bottom: 4px;
}

.CarListItem-module__fZFi2q__bottomTextTwo {
  margin-bottom: 28px;
}

.CarListItem-module__fZFi2q__detailsSpanOne, .CarListItem-module__fZFi2q__detailsSpanTwo {
  position: relative;
}

.CarListItem-module__fZFi2q__detailsSpanOne, .CarListItem-module__fZFi2q__detailsSpanTwo:not(:last-child) {
  margin-right: 12px;
}

.CarListItem-module__fZFi2q__detailsSpanOne:after, .CarListItem-module__fZFi2q__detailsSpanTwo:not(:last-child):after {
  content: "";
  background-color: var(--gray-light);
  width: 1px;
  height: 16px;
  position: absolute;
  bottom: 0;
  right: -6px;
}

.CarListItem-module__fZFi2q__carsLiButton {
  background: var(--button);
  min-width: 276px;
  font-family: var(--font-family);
  color: var(--white);
  border-radius: 12px;
  padding: 12px 99px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.CarListItem-module__fZFi2q__carsLiButton:hover, .CarListItem-module__fZFi2q__carsLiButton:focus {
  background: var(--button-hover);
}

/* [project]/Developer/Projects 2.0/RentalCar/app/components/FilterBar/FilterBar.module.css [app-client] (css) */
.FilterBar-module__iZLo1q__allFilters {
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 56px;
  display: flex;
}

.FilterBar-module__iZLo1q__searchBtn {
  background: var(--button);
  min-width: 156px;
  height: 44px;
  font-family: var(--font-family);
  color: var(--white);
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.FilterBar-module__iZLo1q__label {
  font-family: var(--font-family);
  color: var(--gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33333;
}

.FilterBar-module__iZLo1q__carMileageInputs {
  flex-direction: row;
  align-items: flex-end;
  display: flex;
}

.FilterBar-module__iZLo1q__carMileageFirstInput {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.FilterBar-module__iZLo1q__carMileageInputL {
  border-right: 1px solid var(--gray-light);
  background: var(--inputs);
  width: 160px;
  height: 44px;
  font-family: var(--font-family);
  color: var(--main);
  border-radius: 12px 0 0 12px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.FilterBar-module__iZLo1q__carMileageInputR {
  background: var(--inputs);
  width: 160px;
  height: 44px;
  font-family: var(--font-family);
  color: var(--main);
  border-radius: 0 12px 12px 0;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.FilterBar-module__iZLo1q__carMileageInputL::placeholder, .FilterBar-module__iZLo1q__carMileageInputR::placeholder {
  font-family: var(--font-family);
  color: var(--main);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

/* [project]/Developer/Projects 2.0/RentalCar/app/catalog/page.module.css [app-client] (css) */
.page-module__yGTRfa__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 84px 120px 124px;
  display: flex;
}

.page-module__yGTRfa__errorWrapper {
  height: 100vh;
  color: var(--main);
  font-family: var(--second-family);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: translateY(-10%);
}

.page-module__yGTRfa__title {
  margin: 0 0 12px;
}

.page-module__yGTRfa__description {
  margin-bottom: 12px;
}

.page-module__yGTRfa__btn {
  min-width: 156px;
  font-family: var(--font-family);
  color: var(--main);
  border: 1px solid #f08080;
  border-radius: 12px;
  padding: 12px 51px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  transition: border .25s ease-in-out;
}

.page-module__yGTRfa__btn:hover, .page-module__yGTRfa__btn:focus {
  border: 1px solid red;
}

/*# sourceMappingURL=Developer_Projects%202_0_RentalCar_app_e400fb91._.css.map*/