.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-10%);
  height: 100vh;
  color: var(--main);
  font-family: var(--second-family);
}

.title {
  margin: 0px;
  margin-bottom: 12px;
}

.description {
  margin-bottom: 12px;
}

.link {
  text-decoration: none;
  color: var(--button);
}

.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
  color: var(--button-hover);
}
