.container {
  width: 100%;
}

.heroWrapper {
  position: relative;
  width: 100vw;
  height: calc(100vh - 68px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bgImage {
  object-fit: cover;
  object-position: center;
  z-index: -2;

  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroMainText {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;

  @media only screen and (min-width: 768px) {
    font-size: 40px;
  }

  @media only screen and (min-width: 1440px) {
    font-weight: 700;
    font-size: 60px;
  }
}

.heroSecondaryText {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 240px;

  @media only screen and (min-width: 768px) {
    font-size: 20px;
    max-width: 585px;
  }

  @media only screen and (min-width: 1440px) {
    font-weight: 600;
    font-size: 24px;
  }
}

.heroButton {
  border-radius: 12px;
  padding: 12px 99px;
  min-width: 276px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);

  margin-bottom: 60px;

  transition: background 250ms ease-in-out;

  &:hover {
    background: var(--button-hover);
  }

  &:focus {
    background: var(--button-hover);
  }
}
