.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroMainText {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
}

.heroSecondaryText {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
}

.heroButton {
  border-radius: 12px;
  padding: 12px 99px;
  min-width: 276px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);

  margin-bottom: 60px;

  &:hover {
    background: var(--button-hover);
  }

  &:focus {
    background: var(--button-hover);
  }
}

.bgImg {
  /* position: relative; */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  max-width: 1440px;
  height: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    image-set(url(/bgImg/picture.jpg) 1x, url(/bgImg/picture@2x.jpg) 2x);
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    -webkit-image-set(url('/bgImg/picture.jpg') 1x, url('/bgImg/picture@2x.jpg') 2x);
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    image-set(url(/bgImg/picture.webp) 1x, url(/bgImg/picture@2x.webp) 2x);
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    image-set(url('/bgImg/picture.webp') 1x, url('/bgImg/picture@2x.webp') 2x);
}
