.carsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 48px;
  margin-bottom: 80px;
}

.loadMoreBtn {
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 51px;
  min-width: 156px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);

  transition: border 250ms ease-in-out;

  &:hover {
    border: 1px solid var(--button-hover);
  }

  &:focus {
    border: 1px solid var(--button-hover);
  }
}

.loadMoreBtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
