.carsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 48px;
  margin-bottom: 80px;

  @media only screen and (min-width: 768px) {
    justify-content: space-between;
  }

  @media only screen and (min-width: 1440px) {
    column-gap: 32px;
  }
}

.loadMoreBtn {
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 51px;
  min-width: 156px;
  /* height: 44px; */

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);

  transition: border 250ms ease-in-out;

  &:hover {
    border: 1px solid var(--button-hover);
  }

  &:focus {
    border: 1px solid var(--button-hover);
  }
}

.loadMoreBtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.noCarsFound {
  font-family: var(--font-family);
  font-weight: 500;
  text-align: center;
  width: 100%;
}
