.carsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 48px;
  margin-bottom: 80px;

  @media only screen and (min-width: 768px) {
    justify-content: space-between;
  }

  @media only screen and (min-width: 1440px) {
    justify-content: flex-start;

    column-gap: 32px;
  }
}
