.dateInput {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);

  border-radius: 12px;
  padding: 12px 20px;
  background: var(--inputs);
  width: 282px;
  height: 48px;

  caret-color: transparent;
  cursor: pointer;

  @media only screen and (min-width: 768px) {
    width: 576px;
  }
}

.dateInput::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}

/* date picker */
.iconRight {
  right: -2px;
  position: absolute;
  top: 4px;
  transform: translateY(-50%);
  border: none;
}

.iconLeft {
  left: -2px;
  top: 4px;
  transform: translateY(-50%);
  position: absolute;
  border: none;
}

.datePickerWrapper :global(.react-datepicker) {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--main);
  border-radius: 12px;
  border: 1px solid var(--button);
  background-color: var(--white);
}

.datePickerWrapper :global(.react-datepicker__day--outside-month) {
  color: var(--gray) !important;
  pointer-events: none;
}

.datePickerWrapper :global(.react-datepicker__navigation-icon--next:before) {
  display: none;
}

.datePickerWrapper :global(.react-datepicker__navigation-icon--previous:before) {
  display: none;
}

.datePickerWrapper :global(.react-datepicker__header) {
  padding: 12px 0 12px 0;
  border: none;
  background: none;
  position: relative;
}

.datePickerWrapper :global(.react-datepicker__current-month) {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--main);
}

.datePickerWrapper :global(.react-datepicker__day) {
  border-radius: 32px;
  font-weight: 300;
  font-family: var(--second-family);
  color: var(--main);
  margin: 0;
  width: 36px;
  height: 32px;
  align-content: center;
}

.datePickerWrapper :global(.react-datepicker__day--in-range) {
  background-color: var(--button);
  opacity: 50%;
  color: var(--white);
  border-radius: 32px;
}

.datePickerWrapper :global(.react-datepicker__day--range-start) {
  background-color: var(--button) !important;
  opacity: 50% !important;
  color: var(--white) !important;
  border-radius: 32px !important;
}

.datePickerWrapper :global(.react-datepicker__day--in-selecting-range) {
  background-color: var(--button) !important;
  opacity: 50% !important;
  color: var(--white) !important;
  border-radius: 32px !important;
}

.datePickerWrapper :global(.react-datepicker__day--keyboard-selected) {
  background-color: transparent;
}

.datePickerWrapper :global(.react-datepicker__day--selected) {
  border: 1px solid var(--button);
  background-color: transparent;
}

.datePickerWrapper
  :global(.react-datepicker__day--today:not(.react-datepicker__day--outside-month)) {
  background-color: var(--button) !important;
  color: var(--white) !important;
}

.datePickerWrapper :global(.react-datepicker__day:not([aria-disabled='true']):hover) {
  background-color: var(--button) !important;
  opacity: 50% !important;
  color: var(--white) !important;
  border-radius: 32px !important;
}

.datePickerWrapper :global(.react-datepicker__day--today:hover) {
  opacity: 100% !important;
}

.datePickerWrapper :global(.react-datepicker__day-name) {
  text-transform: uppercase;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: var(--gray);
  margin-bottom: 12px;
}

.datePickerWrapper :global(.react-datepicker__day-names) {
  width: 276px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--button);
  margin-bottom: 12px;
}

.datePickerWrapper :global(.react-datepicker__triangle) {
  stroke: var(--button);
}

.icon {
  display: block;
}

.datePickerWrapper :global(.react-datepicker__month) {
  margin: 0;
  padding-bottom: 12px;
}

.datePickerWrapper :global(.react-datepicker__close-icon) {
  padding-right: 20px;
}

.datePickerWrapper :global(.react-datepicker__close-icon::after) {
  background: var(--button);
  width: 26px;
  height: 22px;
  border-radius: 32px;
}
