.datePickerWrapper {
  position: relative;
}

.dateInput {
  /* font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main); */

  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  background: var(--inputs);
  margin-bottom: 16px;

  /* transition:
    outline-color var(--transition),
    border-color var(--transition);

  &:hover {
    outline-color: var(--color-contrast);
    border-color: var(--color-contrast);
  }

  &:focus {
    outline-color: var(--color-contrast);
    border-color: var(--color-contrast);
  }

  @media only screen and (min-width: 768px) {
    padding: 15px 62px 15px 30px;
    width: 187px;
  } */
}

.dateInput::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}

.icon {
  flex-shrink: 0;
}

.dateClearBtn {
  display: none;
}

/* date picker */
/* .arrowRight {
  opacity: 0.5;
  right: -6px;
  position: absolute;
  top: 1px;
  transform: translateY(-50%);
  border: none;

  transition: all var(--transition);

  &:hover {
    opacity: 1;
  }
}

.arrowLeft {
  opacity: 0.5;
  left: -6px;
  top: 1px;
  transform: translateY(-50%);
  position: absolute;
  border: none;

  transition: all var(--transition);

  &:hover {
    opacity: 1;
  }
} */

.datePickerWrapper :global(.react-datepicker) {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--bg-page);
  border-radius: 12px;
  border: none;
  background-color: var(--color-contrast);
}

.react-datepicker-popper {
  padding-top: 4px !important;
}

.datePickerWrapper :global(.react-datepicker__day--outside-month) {
  color: rgba(12, 13, 13, 0.2) !important;
  pointer-events: none;
}

.datePickerWrapper :global(.react-datepicker__navigation-icon--next:before) {
  display: none;
}

.datePickerWrapper :global(.react-datepicker__navigation-icon--previous:before) {
  display: none;
}

.datePickerWrapper :global(.react-datepicker__navigation--next) {
  right: 5px;
  top: 8px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.datePickerWrapper :global(.react-datepicker__close-icon::after) {
  background-color: transparent;
  width: 36px;
  height: 36px;
  font-size: 16px;
  padding: 0px;
}

.datePickerWrapper :global(.react-datepicker__navigation--next:focus-visible) {
  outline: 1px solid var(--color-titles) !important;
}

.datePickerWrapper :global(.react-datepicker__navigation--previous:focus-visible) {
  outline: 1px solid var(--color-titles) !important;
}

.datePickerWrapper :global(.react-datepicker__day:focus-visible) {
  outline: 1px solid var(--color-titles) !important;
}

.datePickerWrapper :global(.react-datepicker__navigation--previous) {
  left: 5px;
  top: 8px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.datePickerWrapper :global(.react-datepicker__header) {
  padding: 14px 0 16px 0;
  border: none;
  background: none;
  position: relative;
}

.datePickerWrapper :global(.react-datepicker__header::after) {
  position: absolute;
  content: '';
  width: 230px;
  height: 0;
  bottom: 2px;
  transform: translateX(-50%);
  border: 0.5px solid rgba(12, 13, 13, 0.5);
}

.datePickerWrapper :global(.react-datepicker__current-month) {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--bg-page);
}

.datePickerWrapper :global(.react-datepicker__day) {
  color: var(--bg-page);
  border-radius: 100%;
}

.datePickerWrapper :global(.react-datepicker__day--keyboard-selected) {
  background-color: transparent;
}

.datePickerWrapper :global(.react-datepicker__day--selected) {
  border: 1px solid #040404;
  background-color: transparent;
}

.datePickerWrapper
  :global(.react-datepicker__day--today:not(.react-datepicker__day--outside-month)) {
  background-color: #040404 !important;
  color: #fff !important;
}

.datePickerWrapper :global(.react-datepicker__day:not([aria-disabled='true']):hover) {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 100%;
}

.datePickerWrapper :global(.react-datepicker__day-name) {
  color: rgba(12, 13, 13, 0.5);
  text-transform: capitalize;
}
