.container {
  padding: 84px 120px 124px 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadMoreBtn {
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 51px;
  min-width: 156px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);

  transition: border 250ms ease-in-out;

  &:hover {
    border: 1px solid var(--button-hover);
  }

  &:focus {
    border: 1px solid var(--button-hover);
  }
}
