.container {
  padding: 44px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 768px) {
    padding: 44px 80px 64px 80px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 84px 120px 124px 120px;
  }
}

/* error */
.errorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-10%);
  height: 100vh;
  color: var(--main);
  font-family: var(--second-family);
}

.title {
  margin: 0px;
  margin-bottom: 12px;
}

.description {
  margin-bottom: 12px;
}

.btn {
  border: 1px solid lightcoral;
  border-radius: 12px;
  padding: 12px 51px;
  min-width: 156px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);

  transition: border 250ms ease-in-out;

  &:hover {
    border: 1px solid red;
  }

  &:focus {
    border: 1px solid red;
  }
}
