.container {
  padding: 44px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 375px;

  @media only screen and (min-width: 768px) {
    padding: 44px 80px 64px 80px;
    max-width: 768px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 84px 120px 124px 120px;
    max-width: 1440px;
  }
}

.noCarsFound {
  font-family: var(--font-family);
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.loadMoreBtn {
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 51px;
  min-width: 156px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);

  transition: border 250ms ease-in-out;

  &:hover {
    border: 1px solid var(--button-hover);
  }

  &:focus {
    border: 1px solid var(--button-hover);
  }
}

.loadMoreBtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
