.container {
  padding: 0 120px;
}

.carsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 48px;
}

/* .carsLi {
} */

.carImg {
  border-radius: 14px;
  margin-bottom: 16px;
}

.topTextPosition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.topText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.bottomText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--gray);
  max-width: 200px;
  margin-bottom: 28px;
}

.carsLiButton {
  border-radius: 12px;
  padding: 12px 99px;
  min-width: 276px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);

  &:hover {
    background: var(--button-hover);
  }

  &:focus {
    background: var(--button-hover);
  }
}
