.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 84px 120px 104px 120px;
  gap: 72px;
}

.detailsCarImg {
  object-fit: cover;
  border-radius: 19px;
  margin-bottom: 40px;
}

.mainDescription {
  margin-bottom: 68px;
}

.mainTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--main);
  margin-bottom: 8px;
}

.mainTitleDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.id {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}

.location {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--button);
  margin-top: 16px;
  margin-bottom: 32px;
}

.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

/* .otherCarDetails {
} */

.carDetailsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.carDetailsList:not(:last-child) {
  margin-bottom: 32px;
}

.listTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  margin-bottom: 20px;
}

.listItem {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);

  display: flex;
  align-items: center;
  gap: 8px;
}

.withIcon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  flex-shrink: 0;
}
