.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 44px 24px 44px 24px;
  gap: 56px;
  max-width: 375px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    padding: 44px 65px 64px 65px;
    max-width: 768px;
  }

  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    padding: 84px 120px 104px 120px;
    gap: 72px;
    max-width: 1440px;
  }
}

.detailsCarImg {
  object-fit: cover;
  object-position: center;
  border-radius: 19px;
  margin-bottom: 40px;
  width: 329px;
  height: 512px;

  @media only screen and (min-width: 768px) {
    object-fit: cover;
    width: 640px;
    height: 512px;
  }
}

.contentR {
  padding-top: 20px;
}

.mainDescription {
  margin-bottom: 68px;
}

.mainTitle {
  font-weight: 600;
  font-size: 24px;
  color: var(--main);
  margin-bottom: 8px;
}

.mainTitleDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  color: var(--button);
  margin-top: 16px;
  margin-bottom: 32px;
}

.carDetailsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.carDetailsList:not(:last-child) {
  margin-bottom: 110px;
}

.listTitle {
  margin-bottom: 20px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.withIcon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  flex-shrink: 0;
}
